mixin styleguide-component-preview(data, options)
  .styleguide-component-preview(class=attributes.class)
    .styleguide-component-preview__image
      img(src= data.image)
    p.styleguide-component-preview__name.t-paragraph= data.name
