h2 Component Preview

+styleguide-component-preview({
  name: 'Component Name',
  image: 'http://placehold.it/350x150'
})

+styleguide-component-preview({
  name: 'Component Name',
  image: 'http://placehold.it/600x300'
})

+styleguide-component-preview({
  name: 'Component Name',
  image: 'http://placehold.it/2600x1300'
})
