.styleguide-content {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  background-color: $c-eigengrau;
}
.styleguide-content-iframe {
  border: 0;
  background: $c-white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.styleguide-content-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $c-white;
  opacity: 1;
  transition: opacity 0.2s
}
