$dropdown-border-color: $c-cloud !default;
$dropdown-border-radius: $s-fourth !default;
$dropdown-arrow-size: $s-fourth !default;
$dropdown-arrow-gutter: $s !default;
$dropdown-arrow-color: $c-eigengrau !default;
$dropdown-select-padding: $s-half !default;

.styleguide-dropdown {
    position: relative;
    border: 1px solid $dropdown-border-color;
    width: 120px;
    border-radius: $dropdown-border-radius;
  &:after {
    content: '';
    position: absolute;
    right: $dropdown-arrow-gutter;
    top: 50%;
    transform: translateY(-50%);
    border-left: $dropdown-arrow-size solid transparent;
    border-right: $dropdown-arrow-size solid transparent;
    border-top: $dropdown-arrow-size solid $dropdown-arrow-color;
  }
  select {
    padding: $dropdown-select-padding;
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;
    width: 100%;
    &:focus {
      width: 130%;
      outline: none;
    }
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }
  }
}
