/**
 * Define the breakpoints for vendor/sensible/mediaqueries
 * They are defined the mobile first way
 */

$breakpoints: (
    "mobile"              : "only screen and (max-width:740px)",
    "tablet"              : "only screen and (max-width:1050px)",
    "desktop"             : "only screen and (min-width:1051px)",
    "print"               : "print"
);

/**
 * Defines the spaces
 */

$s:         12px;
$s-half:    0.5 * $s;
$s-double:  2   * $s;


