/**
 * Typography settings
 */
$base-font-size   : 14px;
$base-font-family : sans-serif;
$base-font-weight : 400;
$base-font-style  : normal;
$base-line-height : 1.5;

@mixin base-font() {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style : $base-font-style;
}


/**
 * Typography classes
 */

@mixin t-title() {
  margin: 0;
  font-size: 2rem;
}

@mixin t-paragraph() {
  margin: 0;
  font-size: 1rem;
}

@mixin t-label(){
  margin: 0;
  font-size: 0.8rem;
  text-transform: uppercase;
}

