mixin styleguide-nav-group(data, options)
  .styleguide-nav-group(class=attributes.class)
    h4.styleguide-nav-group-title= data.title
    if data.links
      ul.styleguide-nav-group-list
        each item in data.links
          - var itemClasses = []
          if item.isActive
            - itemClasses.push('styleguide-nav-item--active')
          li.styleguide-nav-item.js-styleguide-nav-item(class=itemClasses)
            a(href= item.link).styleguide-nav-link.js-styleguide-nav-link= item.title
