include ../**/markup.jade
extends ../layouts/default

block meta
  //- TODO: add you page meta tags

block body
  h1 Modules
  include ../modules/**/spec.jade

  h1 Partials
  include ../partials/**/spec.jade
