include ../**/markup.jade
extends ../layouts/default

block body
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '7rem',
    lineHeight: '1.5',
    linesToShow: '1'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Univers',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '6rem',
    lineHeight: '1.5',
    linesToShow: '1'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '4rem',
    lineHeight: '1.5',
    linesToShow: '2'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '3rem',
    lineHeight: '1.6',
    linesToShow: '2'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '2rem',
    lineHeight: '1.4',
    linesToShow: '3'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '1rem',
    lineHeight: '1.3',
    linesToShow: '7'
  })
  +typography({
    name: 'Typography Name',
    fontFamily: 'Arial',
    fontWeight: 'normal',
    fontStretch: 'condensed',
    fontSize: '1rem',
    lineHeight: '1',
    linesToShow: '3'
  })
