mixin nav-list(data, options)
  .nav-list(class=attributes.class)
    h4.nav-list-title= data.title
    ul.nav-list-reset
      each item in data.list
        - var itemClasses = []
        if item.isActive
          - itemClasses.push('nav-list-item--active')
        li.nav-list-item(class=itemClasses)
          a(href= item.link).nav-link= item.title
