h2 List

.list
  h4.list-title ui components
  ul.list-reset
    li.list-item
      a(href="#").list-item--link Item 1
    li.list-item.list-item--active
      a(href="#").list-item--link Item 2
    li.list-item
      a(href="#").list-item--link Item 3
    li.list-item
      a(href="#").list-item--link Item 4
