$space-left: 20px;
$space-bottom: 20px;

.nav-list {
  &-title {
    @include t-label();
    color: $c-darkcloud;
    padding-left: $space-left;
    margin-bottom: $space-bottom;
  }
  &-item {
    position: relative;
    padding-left: $space-left;
    &:hover {
      cursor: pointer;
      .nav-link {
        color: $c-white;
      }
    }
    &--active {
      &:hover {
        cursor: default;
        .nav-link {
          color: $c-cloud;
          cursor: default;
        }
      }
      &:before {
        content: '';
        background-color: $c-steelblue;
        width: 10px;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
      }
    }
  }
  &-reset {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.nav-link {
  @include t-paragraph;
  line-height: 1.7;
  color: $c-cloud;
  transition: color 100ms ease;
}
