mixin sidebar(data, options)
  .sidebar
    +header({
      logo: relativePath + 'content/images/ginetta.png',
      brand: 'Ginetta'
    }).sidebar-content

    hr

    each navgroup in data.navigation
      +nav-group(navgroup)

