include ../../modules/header/markup.jade
include ../../modules/nav-group/markup.jade

mixin styleguide-sidebar(data, options)
  .styleguide-sidebar
    +styleguide-header(data.header).styleguide-sidebar-content

    hr

    each navgroup in data.navigation
      +styleguide-nav-group(navgroup)

