.sidebar {
  max-width: 200px;
  height: 100%;
  background-color: $c-eigengrau;
  color: $c-white;
  display: inline-block;
  float: left;
  overflow-x: hidden;
  overflow-y: auto;

  hr {
    display: block;
    border: 0;
    border-top: 1px solid $c-cloud;
  }
}

.sidebar-content {
  padding: $sidebar-padding;
}
