h2 Typography

+styleguide-typography({
  name: 'Main Title',
  fontFamily: 'Arial',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '7rem',
  lineHeight: '1.5'
})
+styleguide-typography({
  name: 'Header Title',
  fontFamily: 'Univers',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '6rem',
  lineHeight: '1.5'
})
+styleguide-typography({
  name: 'Title',
  fontFamily: 'Arial',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '4rem',
  lineHeight: '1.5'
})
+styleguide-typography({
  name: 'Subtitle',
  fontFamily: 'Arial',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '3rem',
  lineHeight: '1.6'
})
+styleguide-typography({
  name: 'Lead',
  fontFamily: 'Arial',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '2rem',
  lineHeight: '1.4'
})
+styleguide-typography({
  name: 'Paragraph',
  fontFamily: 'Georgia',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '1.28rem',
  lineHeight: '1.4'
})
+styleguide-typography({
  name: 'Paragraph',
  fontFamily: 'Arial',
  fontWeight: 'normal',
  fontStretch: 'condensed',
  fontSize: '1rem',
  lineHeight: '1.3'
})
