mixin styleguide-color(data, options)
figure.styleguide-color(class=attributes.class)
  .styleguide-color__preview(style='background-color:'+ data.color + '')
  figcaption.styleguide-color__label.t-paragraph
    strong.styleguide-color__caption-row #{data.name} 
    span.styleguide-color__caption-row #{data.desc} 
    span.styleguide-color__caption-row #{data.color}
