mixin styleguide-color(data, options)
  .styleguide-color(class=attributes.class, style='background-color:'+ data.color + '')
  p.styleguide-color-label.t-paragraph
    span #{data.name} <br>
    span #{data.desc} <br>
    span #{data.color}
