$color-panel-size: 100px;
$color-panel-border-radius: $s-half !default;

.styleguide-color {
  width: $color-panel-size;
  height: $color-panel-size;
  border-radius: $color-panel-border-radius;
  border: 1px solid $c-cloud;

  &-label {
    color: $c-cloud;
  }
}
