mixin header(data, options)
  .header(class=attributes.class)
    if data.logo
      img(src=data.logo, alt=data.company + ' logo')
    else
      h2.company-brand #{data.company}

    p.styleguide-title styleguide
