h2 Header
h4 Header with Logo Url
+header({
  logoUrl: 'https://placehold.it/200x50/?text=Logo',
  brand: 'Ginetta'
})

h4 Header with Logo with relative path
+header({
  logo: 'ginetta.png',
  brand: 'Ginetta'
})

h4 Header with Brand
+header({
  brand: 'Ginetta'
})

