extends ../layouts/default
include ../partials/sidebar/markup
include ../partials/content/markup


block meta
  //- TODO: add you page meta tags

block body
  +styleguide-sidebar(data)
  block content
    +styleguide-content
